body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    margin: auto;
    width: 350px;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: white;
    color: white;
    padding: 1em;
    font-size: 15px;
    text-align: center;
}

img{
    width: 350px;
    height: 350px;

}

h1{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

p{
    color: hsl(220, 15%, 55%);
    font-weight: 400;

}

.attribution{ 
    margin-top: 0.5em;
    font-size: 11px; 
    text-align: center; 
}

.attribution a{ 
    color: hsl(228, 45%, 44%); 
}

@media only screen and (max-width: 376px){ 
    .card{
        width: 250px;
        margin: 2px;
        text-align: center;    
        padding: 1em;

    }
    img{
        width: 200px;
        height: 200px;
    
    }
    
}